main{
    min-height: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}
nav{
    display: inline-block;
    width: 80%;
}
 nav a{
    padding-left: 10px;
   }
 .images{
    width: 10%;
    position: relative;
    top: 20px;
   }
   .grid_images{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 10px;;
   }
   .grid_images1{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 10px;
   }
   img{
    width: 80%;
    height: auto;
   }
h1{
    text-align: center;
    color: rgb(60, 60, 168);
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100px;
}
#main_content{
    background-color: yellow;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    
}
li{
    margin: 5px;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    text-align: center;
}
.current{
    text-transform: uppercase;
}
header{
    background-color: rgb(162, 156, 156);
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: center;
} 
header>h1{
    margin-bottom: 50px;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

p{
    font-size: 30px;
    font-family: "Roboto", sans-serif;
}
footer{
    background-color: rgb(162, 156, 156);
}