body{
    font-family: 'Roboto', sans-serif;
    font-size: 150%;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header{
    background-color: #2f0e61;
    color: white;
    padding: 10px 0;
    text-align: center;
}
nav{
    background-color: #472ba0;
    color: white;
    padding: 15px 0;
    text-align: initial;
}
nav a{
    color: white;
    text-decoration: none;
    padding: 5px;
}
nav a:hover{
    background-color: #3c137a;
    opacity: 0.5;
    background-origin: padding-box;
    border-radius: 5px;
}
main{
    padding: 20px;
    background-color: #aaa1c6;
    font-size: 1.2em;
}
footer{
    background-color: #2f0e61;
    color: white;
    padding: 10px 0;
    text-align: center;
}
li{
    display: inline;
    padding: 10px;
    width: 100px;
}
h1{
    text-align: center;
    font-family: lato;
    font-size: 2em;
    color: #b8b0b0;
}
p{
    line-height: 1.5em;

}